body{
    /* background-color: aqua; */
    /* to bottom means that opactity increases from bottom  */
    background-image: url('bg1.jpg');
    /* background: linear-gradient(to top,rgb(204,229, 255),rgba(204,229,255,0.4)); */
    font-size:1.15em;
    /* text-align: justify; */
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}
